html, body{
  min-height: calc(100vh-100px);
  margin: 0;
}

body{
  position: relative;
  padding-bottom: 90px;
}

/* div{
    border: solid black 1px
} */

.navbar ul {
  list-style-type: none;
  margin: 1px;
  padding: 1px;
  overflow: hidden;
  background-color: #b4a7d6;
  position: fixed;
  bottom: 0;
  width: 100%;
 }
 
nav li {
  float: left;
  border-right: 2px solid white;
 }
 
 /* Add a border to all( but not the last) list items */
 li:last-child { 
  border-right: none;
 }
 
 li a {
  display: block;
  color: black;
  text-align: left;
  padding: 11px;
  text-decoration: none;
  font-family: 'Roboto Mono', monospace;
  font-size: 75%;
  height: 30%;
 }
 
 /* Links will change color when hovered over */
 li a:hover {
  background-color: #9A93AB;
 }
 
 .active {
  background-color: #9A93AB;
 }

  h1{
    font-family: 'Roboto Mono', monospace;
    font-weight: bold;
    margin: 0;
    font-size: 25px;
    padding-top: 10%;
    display: flex;
    justify-content: center;
  }

.homeicon{
  display: flex;
  padding-top: 40px;
  justify-content: center;
  padding-top: 5%;
  align-items: center;
}

.homeicon img{
    width: 90%; 
}

.about-text{
    font-family:'Zen Kurenaido', sans-serif;
    font-weight: lighter;
    font-size: 15px;
    padding-left: 7%;
    padding-right: 7%;
    padding-bottom: 5%;
    color: ;
    display: flex;
    justify-content: center;
    text-align:justify;
    word-spacing: 1px;
}

.pdf {
  text-decoration: none;
  font-family: 'Roboto Mono', monospace;
  font-weight: bold;
  color: black;
  display: flex;
  justify-content: center;
}

footer div {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: justify;
}

footer p{
  font-weight: lighter;
  font-size: 12px;
  text-align: center;
  color: #8172a7;
  font-family: 'Roboto Mono', monospace;
}

/* Styling For Tablet  */

@media only screen and (min-width:750px) {

  html, body{
    min-height:0;
    margin: 0;
  }

body{
  position: absolute;
  padding-bottom: 12%;
}

nav li {
  border-right: 3px solid white;
  line-height: 3;
  font-family: 'Roboto Mono', monospace;
  font-size: 90%;
}

li a {
  font-size: 100%;
 }

 h1{
  font-size: 250%;
}

 .homeicon{
  display: flex;
  padding-top: 40px;
  justify-content: center;
  padding-top: 5%;
  align-items: center;
}

.homeicon img{
    width: 50%; 
    padding-bottom: 2%;
}

.about-text{
  font-size: 20px;
  padding-left: 10%;
  padding-right: 10%;
  word-spacing: 1.5px;
}

.pdf {
  font-size: 120%;

}