html, body{
  min-height: calc(100vh-100px);
  margin: 0;
}

body{
  position: relative;
  padding-bottom: 9%;
}

/* div{
    border: solid black 1px
} */

.navbar ul {
  list-style-type: none;
  margin: 1px;
  padding: 1px;
  overflow: hidden;
  background-color: #E89369;
  position: fixed;
  bottom: 0;
  width: 100%;
 }
 
nav li {
  float: left;
  border-right: 2px solid white;
 }
 
 /* Add a border to all( but not the last) list items */
 li:last-child { 
  border-right: none;
 }
 
 li a {
  display: block;
  color: black;
  text-align: left;
  padding: 11px;
  text-decoration: none;
  font-family: 'Roboto Mono', monospace;
  font-size: 75%;
  height: 30%;
 }
 
 /* Links will change color when hovered over */
 li a:hover {
  background-color: #BF6D44;
 }
 
 .active {
  background-color: #BF6D44;
 }

  h1{
    font-family: 'Roboto Mono', monospace;
    font-weight: bold;
    margin: 0;
    font-size: 25px;
    display: flex;
    justify-content: center;
    padding-top: 8%;
  }

.homeicon{
  display: flex;
  justify-content: center;
  align-items: center;
}

.homeicon img{
    width: 83%; 
}

.text{
    font-family:'Zen Kurenaido', sans-serif;
    font-weight: lighter;
    font-size: 15px;
    padding-left: 7%;
    padding-right: 7%;
    padding-bottom: 5%;
    display: flex;
    justify-content: center;
    text-align:justify;
    word-spacing: 1px;
}

.pdf {
  text-decoration: none;
  font-family: 'Roboto Mono', monospace;
  font-weight: bold;
  color: black;
  display: flex;
  justify-content: center;
}

footer div {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: justify;
}

footer p{
  font-weight: lighter;
  font-size: 12px;
  text-align: center;
  color: #E89369;
  font-family: 'Roboto Mono', monospace;
}

/* Styling For Tablet  */

@media only screen and (min-width:750px) {

  html, body{
    min-height:0;
    margin: 0;
  }

body{
  position: absolute;
  padding-bottom: 18%;
}

nav li {
  border-right: 3px solid white;
  line-height: 3;
  font-family: 'Roboto Mono', monospace;
  font-size: 160%;
}

 h1{
  font-size: 350%;
  padding-top: 5%;
}

 .homeicon{
  padding-top: 0%;
}

.homeicon img{
    width: 60%; 
    padding-bottom: 0%;
    margin: 0%;
    flex-basis: 40%
}

p{
  font-size: 150%;
}


}

@media only screen and (min-width:992px) {

  body{
    padding-bottom: 6%;
  }

nav li {
  border-right: 3px solid white;
  line-height: 3;
  font-family: 'Roboto Mono', monospace;
  font-size: 100%;
}

h1{
  font-size: 300%;
  padding-top: 2%;
}

.homeicon img{
    width: 70%;
    padding-top: 0;
}

.about-text{
    display: inline-block;
    padding-left: 0;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center
} 

.text {
  font-size: 120%;
  padding-left: 0%;
  padding-top: 7%;
  padding-bottom: 0%;
}

.pdf {
  padding-top: 0%;
  font-size: 120%;
}


} 