html, body{
  margin: 0;
}

body{
  position: relative;
  padding-bottom: 5%;
}

/* div{
    border: solid black 1px;
    margin: 0;
    padding: 0;
} */


.navbar ul {
  list-style-type: none;
  margin: 1px;
  padding: 1px;
  overflow: hidden;
  background-color: #E89369;
  position: fixed;
  bottom: 0;
  width: 100%;
 }
 
nav li {
  float: left;
  border-right: 2px solid white;
 } 
 
 /* Add a border to all( but not the last) list items */
 li:last-child { 
  border-right: none;
 }
 
 li a {
  display: block;
  color: black;
  text-align: left;
  padding: 11px;
  text-decoration: none;
  font-family: 'Roboto Mono', monospace;
  font-size: 75%;
  height: 30%;
 }
 
 /* Links will change color when hovered over */
 li a:hover {
  background-color: #BF6D44;
 }
 
 .active {
  background-color: #BF6D44;
 }

 h1{
  font-family: 'Roboto Mono', monospace;
  font-weight: bold;
  margin: 0;
  font-size: 250%;
  padding-top: 6%;
  padding-bottom: 2%;
  display: flex;
  justify-content: center;
  text-align: center;
}
footer div {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: justify;
}

footer p{
  font-weight: lighter;
  font-size: 12px;
  text-align: center;
  color: #E89369;
}

/* Card styling */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  margin: auto;
  padding: 2em;
  max-width: 70rem;
}

.flex {
  display: flex;
  gap: 3em;
  justify-content: center;
  flex-flow: row wrap;
}

.card {
  display: flex;
  flex-direction: column;
  max-width: calc(13rem + 13vw);
  background: #fff;
  border-radius: 0.75em;
  overflow: hidden;
  box-shadow: 0 0.25em 0.6em #0005, 0 0.65em 1em #0004;
  transition: transform 270ms ease;
  
}

.card:hover {
  transform: scale(1.05);
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  aspect-ratio: 16 / 9;
  object-fit: cover;
  height: auto;
  margin-bottom: 1em;
}

.card-body {
  height: 300px;
  padding: 2em 0;
}

h3 {
  text-align: center;
  color: #E89369;
  font-size: 1.3rem;
  margin-bottom: 0.5rem;
  font-family: 'Roboto Mono', monospace;
}

p {
  color: black;
  font-weight: 500;
  text-align: center;
  margin: 1em auto;
  padding-inline: 0.5em;
  max-width: 75%;
  font-family: 'Zen Kurenaido', sans-serif;
}

p small{
  font-size: 0.625rem;
}

.card-body a{
  text-decoration: none;
  font-family: 'Zen Kurenaido', sans-serif; 
  font-size: 70%;
  display: flex;
  justify-content: center;
}

.card-body a:visited{
  color: #BF6D44 ;
}

/* Styling For Tablet  */

@media only screen and (min-width:750px) {

	nav li {
    border-right: 3px solid white;
    line-height: 3;
    font-family: 'Roboto Mono', monospace;
    font-size: 160%;
    }
  

  .flex {
    gap: 2em;

 	h1{
	font-size: 350%;
	padding-top: 5%;
	}
}

/* Styling for desktop */

@media only screen and (min-width:992px) {

  nav li {
    border-right: 3px solid white;
    line-height: 3;
    font-family: 'Roboto Mono', monospace;
    font-size: 100%;
  }

  .card-body a{
    display: none;
  }

  .flex{
    gap: 7em;
  }

  h1{
    padding-top: 2%;
  }

}