body{
    background-color: rgb(225, 247, 240);
    margin: 0px;
}

div{
    border: solid black 1px
}

div .homeicon{
    display: flex;
    align-items: center;
    text-align: center;
}

.homeicon img{
    width: 80%;
}

.main-text{
    font-family: 'Roboto Mono', monospace;
    font-weight: bold;
    font-size: 20px;
    padding-top: 40px;
    display: flex;
    justify-content: center;
}

footer {
    font-weight: lighter;
    font-size: 10px;
    background-color: #b4a7d6;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 100px;
}